@charset "UTF-8";
    body{

        height: 100vh;
        width: 100vw;
        /*background: black;*/
        background: url('http://techfest.org/2021/home/BG1.jpg');
    background-attachment: fixed;
            background-size: cover;

/*background: white !important;*/
        font-family: GothamLight;
        overflow-x: hidden !important;

    }
    .navgrad{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,  #000000 100%);
    }
    .gradient{
        content:'';
        position:fixed;
        left:0; bottom:0;
        width:100%; height:20%;
        z-index: 5;
        background:  linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,  #000000 100%);
    }
    .gradient1{
        content:'';
        position: absolute;
        left: 0;
        top:100vh;
        height:20%;
        width: 100%;
        background:  linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,  #000000 100%);
    }
    .gradient2{
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        height:10%;
        width: 100%;
        background:  linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%,  #000 100%);
    }
    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        display: none;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 3px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    @font-face {
        font-family: GothamLight;
        src:url(http://techfest.org/fonts/gotham/GothamLight.ttf);
    }
    @font-face {
        font-family: euro;
        src:url(http://techfest.org/fonts/eurostile.TTF);
    }
    a:hover{
        text-decoration: none;
    }
    #negative{
        position: absolute;
        right:50%;
        top:50%;
        z-index: 500;
    }



    #myVideo{
        position:absolute;
        float: bottom;
        justify-content: center !important;
        bottom: 0;
        border: none;
        /*align-content: center;*/
        /*min-height: 100%;*/
        /*max-height: 150%;*/
        /*min-width: 100%;*/
        /*max-width: 200%;*/
        /*height: 100%;*/
        /*max-height: 120%;*/
    }
    #schedule{
        position: absolute;
        right:25%;
        cursor: pointer;
        top:50%;
        width: 10%;
        height: 20%;
        z-index: 500;
    }
    #landing{
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 87.55%, rgba(0, 0, 0, 0.38) 100%);
        justify-content: center !important;
    }
    #grass{
        position:absolute;
        float: bottom;
        justify-content: center !important;
        bottom: 0;
        border: none;
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg); /* Safari and Chrome */
        -moz-transform:rotateY(180deg); /* Firefox */

        /*top:0;*/
        /*width: 100% !important;*/
        mix-blend-mode: multiply ;
    }
    #lights{
        position:absolute;
        float: bottom;
        bottom: 0;
        border: none;
        /*position: absolute;*/
        /*bottom: 0;*/
        /*!*top:0;*!*/
        /*width: 100%;*/
        mix-blend-mode: screen !important;
    }
    #comet{
        position: absolute;
        top: 0;
        right:0;
        width: 60%;
        mix-blend-mode: screen !important;
    }
    @media  only screen and (max-width: 1330px) {
        #schedule{
            /*display: none;*/
            position: absolute;
            right:25%;
            cursor: pointer;
            top:40%;
            width: 10%;
            height: 20%;
            z-index: 500;
        }

    /*    #myVideo{*/
    /*    position:absolute;*/
    /*    bottom: 0;*/
    /*    top:0;*/
    /*    !*right:0;*!*/
    /*    width: 100% !important;*/
    /*}*/
        #grass{
            position:absolute;
            float: bottom;
            justify-content: center !important;
            bottom: 0;
            border: none;

            transform: rotateY(180deg);
            -webkit-transform:rotateY(180deg); /* Safari and Chrome */
            -moz-transform:rotateY(180deg); /* Firefox */
            /*top:0;*/

            mix-blend-mode: multiply !important;
        }
        #lights{
            position:absolute;
            float: bottom;
            bottom: 0;
            border: none;
            /*position: absolute;*/
            /*bottom: 0;*/
            /*top:0;*/
            /*width: 100%;*/
            mix-blend-mode: screen !important;
        }

    }
    li{
        list-style: none;
    }
    #navbar {
        /*background-color: #333;*/
        position:fixed;
        top: 0;
        right:0;
        width: 100%;
        display: inline !important;
        transition: top 0.3s;
    }

    .dropdown-menu{
        /*margin-top: 20px;*/
        background: rgba(0,0,0,0.75);
        color: red;
    }
    .dropdown{
        z-index: 100;

    }
    #nav-content{
        color:white;
        position: fixed;
        right:0.1vw;
        /*top:2.5%;*/
        transition: top 0.3s;
        margin-top: 1.1vw;
    }
    .signin-btn{
        background: #268AFF;
        width:8vw;
        height: 2vw;
        padding-top: -15px !important;
        padding-bottom: 1px;
        border-radius: 50px;
        border: 0.5px solid #FFFFFF;
    }
    .a-signin-btn{
        /*width:8vw;*/
        padding-top: -15px !important;
        /*padding-bottom: 1px;*/
    }
    #logo{
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        display: inline;
        transition: top 0.3s;

    }
    #logo-img{
        position: fixed;
        top: 0;
        left:0;
        padding-top:2.9%;
padding-left:2%;
        width: 100%;
        display: inline;
        transition: top 0.3s;

    }
    #bottom-nav{

        /*background-color: #333;*/
        position: fixed;
        bottom: 0;
        left:20%;
        /*width: 20%;*/
        display: block;
        transition: bottom 0.3s;
    }
    #notif{
        /*display: none;*/
        bottom: 0;

        position: fixed;
        /*bottom: 5%;*/
        left:35%;
        /*width: 20%;*/
        display: block;
        transition: bottom 0.3s;
    }
    #left-nav{
        /*background-color: #333;*/
        position: fixed;
        bottom: 0;
        left:0;
        /*width: 20%;*/
        display: block;
        transition: left 0.3s;
    }
    #left-nav-content{

        position: fixed;
        bottom: 0.5%;
        left:0;
        /*width: 20%;*/
        display: block;
        transition: left 0.3s;
    }
    #right-nav{
        /*background-color: #333;*/
        position: fixed;
        bottom: 0;
        right:0;
        /*width: 20%;*/
        display: block;
        transition: right 0.3s;
    }
    #right-nav-content{
        /*background-color: #333;*/
        position: fixed;
        bottom: 0;
        right:0 ;
        padding-right: 2vw;

        /*margin-left: 1vw;*/
        /*width: 20%;*/
        display: block;
        transition: right 0.3s;
    }
    @media  only screen and (max-width: 1200px) {
        #right-nav-content {
            padding-right: 1vw;
        }
        }

    #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        margin-top: 5px;
        text-decoration: none;
        /*font-size: 1rem;*/
    }
    #left-nav-content a {
        float: left;
        display: block;
        color: #fff;
        margin-left: 4vw;
        text-align: center;
        padding-top: 15px;
        text-decoration: none;
        /*font-size: 1rem;*/
    }

    #navbar a:hover {
        /*background-color: #ddd;*/
        /*color: black;*/
    }
    /*Home Page below landing*/
    .home-content{
        /*width: 100%;*/
        position: absolute;
        right:0;
        margin-top: 50%;
        left:0;



    /*margin-right: -17px !important;*/
        z-index: -1;

        /*background-position: center;*/
        /*background-attachment: fixed;*/
    }
    .ht{
        font-family: euro;
        letter-spacing: 1px;
        padding-top: 80px;
    }
    .img-col{
        width: 220px !important;
        height: 220px !important;
        margin-right: 50px;
    }
    .home-img{
        width: 100%;
        /*height: 100%;*/
        border: 0.5px solid white;
        border-radius: 5px;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        font-family: euro;
        letter-spacing: 1px;
        font-size: 2.5vw;
        transform: translate(-50%, -50%);
    }
    .hp{
        font-size: 1.2vw;
        padding-top: 1vw;
    }
    #view{
        font-family: euro;
        letter-spacing: 0.5px;
        /*padding-top: 2vw;*/
    }
    .glitch {
        /*position: relative;*/
        color: white;
        font-size: 1.5vw;
        font-family: euro;
        letter-spacing: 2px;
        /* Animation provies a slight random skew. Check bottom of doc for more information on how to random skew. */
        animation: glitch-skew 1s infinite linear alternate-reverse;
    }
    .glitch::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        left: 2px;
        text-shadow: -2px 0 #ff00c1;
        /* Creates an initial clip for our glitch. This works in a typical top,right,bottom,left fashion and creates a mask to only show a certain part of the glitch at a time. */
        clip: rect(44px, 450px, 56px, 0);
        /* Runs our glitch-anim defined below to run in a 5s loop, infinitely, with an alternating animation to keep things fresh. */
        animation: glitch-anim 5s infinite linear alternate-reverse;
    }
    .glitch::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        left: -2px;
        text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
        animation: glitch-anim2 1s infinite linear alternate-reverse;
    }
    /* Creates an animation with 20 steaps. For each step, it calculates a percentage for the specific step. It then generates a random clip box to be used for the random glitch effect. Also adds a very subtle skew to change the 'thickness' of the glitch.*/
    @keyframes  glitch-anim {
        0% {
            clip: rect(24px, 9999px, 44px, 0);
            transform: skew(0.91deg);
        }
        5% {
            clip: rect(94px, 9999px, 59px, 0);
            transform: skew(0.92deg);
        }
        10% {
            clip: rect(44px, 9999px, 9px, 0);
            transform: skew(0.27deg);
        }
        15% {
            clip: rect(20px, 9999px, 76px, 0);
            transform: skew(0.17deg);
        }
        20% {
            clip: rect(93px, 9999px, 31px, 0);
            transform: skew(0.73deg);
        }
        25% {
            clip: rect(90px, 9999px, 62px, 0);
            transform: skew(0.66deg);
        }
        30% {
            clip: rect(96px, 9999px, 85px, 0);
            transform: skew(0.41deg);
        }
        35% {
            clip: rect(66px, 9999px, 86px, 0);
            transform: skew(0.14deg);
        }
        40% {
            clip: rect(92px, 9999px, 63px, 0);
            transform: skew(0.75deg);
        }
        45% {
            clip: rect(72px, 9999px, 13px, 0);
            transform: skew(0.79deg);
        }
        50% {
            clip: rect(23px, 9999px, 40px, 0);
            transform: skew(0.4deg);
        }
        55% {
            clip: rect(24px, 9999px, 9px, 0);
            transform: skew(0.34deg);
        }
        60% {
            clip: rect(60px, 9999px, 20px, 0);
            transform: skew(0.39deg);
        }
        65% {
            clip: rect(77px, 9999px, 44px, 0);
            transform: skew(0.32deg);
        }
        70% {
            clip: rect(34px, 9999px, 48px, 0);
            transform: skew(0.15deg);
        }
        75% {
            clip: rect(52px, 9999px, 30px, 0);
            transform: skew(0.77deg);
        }
        80% {
            clip: rect(97px, 9999px, 82px, 0);
            transform: skew(0.8deg);
        }
        85% {
            clip: rect(23px, 9999px, 48px, 0);
            transform: skew(0.86deg);
        }
        90% {
            clip: rect(83px, 9999px, 3px, 0);
            transform: skew(0.51deg);
        }
        95% {
            clip: rect(96px, 9999px, 39px, 0);
            transform: skew(0.89deg);
        }
        100% {
            clip: rect(60px, 9999px, 86px, 0);
            transform: skew(0.05deg);
        }
    }
    @keyframes  glitch-anim2 {
        0% {
            clip: rect(72px, 9999px, 53px, 0);
            transform: skew(0.39deg);
        }
        5% {
            clip: rect(50px, 9999px, 40px, 0);
            transform: skew(0.49deg);
        }
        10% {
            clip: rect(21px, 9999px, 30px, 0);
            transform: skew(0.98deg);
        }
        15% {
            clip: rect(88px, 9999px, 57px, 0);
            transform: skew(0.74deg);
        }
        20% {
            clip: rect(46px, 9999px, 78px, 0);
            transform: skew(0.99deg);
        }
        25% {
            clip: rect(99px, 9999px, 17px, 0);
            transform: skew(0.17deg);
        }
        30% {
            clip: rect(41px, 9999px, 98px, 0);
            transform: skew(1deg);
        }
        35% {
            clip: rect(85px, 9999px, 70px, 0);
            transform: skew(0.8deg);
        }
        40% {
            clip: rect(16px, 9999px, 72px, 0);
            transform: skew(0.67deg);
        }
        45% {
            clip: rect(24px, 9999px, 81px, 0);
            transform: skew(0.72deg);
        }
        50% {
            clip: rect(1px, 9999px, 25px, 0);
            transform: skew(0.31deg);
        }
        55% {
            clip: rect(82px, 9999px, 97px, 0);
            transform: skew(0.33deg);
        }
        60% {
            clip: rect(50px, 9999px, 33px, 0);
            transform: skew(0.14deg);
        }
        65% {
            clip: rect(12px, 9999px, 22px, 0);
            transform: skew(0.56deg);
        }
        70% {
            clip: rect(59px, 9999px, 97px, 0);
            transform: skew(0.14deg);
        }
        75% {
            clip: rect(25px, 9999px, 7px, 0);
            transform: skew(0.78deg);
        }
        80% {
            clip: rect(79px, 9999px, 87px, 0);
            transform: skew(0.36deg);
        }
        85% {
            clip: rect(42px, 9999px, 24px, 0);
            transform: skew(0.07deg);
        }
        90% {
            clip: rect(37px, 9999px, 46px, 0);
            transform: skew(0.72deg);
        }
        95% {
            clip: rect(85px, 9999px, 7px, 0);
            transform: skew(0.26deg);
        }
        100% {
            clip: rect(12px, 9999px, 40px, 0);
            transform: skew(0.04deg);
        }
    }
    @keyframes  glitch-skew {
        0% {
            transform: skew(-3deg);
        }
        10% {
            transform: skew(-4deg);
        }
        20% {
            transform: skew(-1deg);
        }
        30% {
            transform: skew(-1deg);
        }
        40% {
            transform: skew(4deg);
        }
        50% {
            transform: skew(-2deg);
        }
        60% {
            transform: skew(-3deg);
        }
        70% {
            transform: skew(3deg);
        }
        80% {
            transform: skew(0deg);
        }
        90% {
            transform: skew(1deg);
        }
        100% {
            transform: skew(1deg);
        }
    }

    .carousel-indicators .dotted{
        width:13px;
        height: 13px;
        border-radius: 100%;
    }
    body .carousel-indicators .active{
        background-color:#FFFFFF;
    }
    body .carousel-indicators li{
        background-color:#FFFFFF;
        border-top: none;
        border-bottom: none;
        margin-left: 4px;
        margin-right: 4px;
    }
    .carousel-item img{
        border-radius: 10px;
        border: #FFFFFF 1px solid;
    }